
<style>

    .pageFooter {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 530px;
        margin-left: 30px;
        margin-bottom: 5px;
    }

    .footer-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 450px;
        height: 30px;
    }

    .footer-text div {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 7px;
    }

    .page-indicator {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8px;
        width: 60px;
    }

</style>
<div class="pageFooter">
    <div class="footer-text">
        <div><b>Systelab Technologies. S.A., A Werfen  Company</b></div>
        <div>Can Malé, s/n - 08106 Lliçà d’Amunt, Spain Tel. +34 93 860 90 01 - Fax. +34 93 860 90 19</div>
        <div>Copyright © 2020 Systelab Technologies S.A. All rights reserved.</div>
    </div>
    <div class="page-indicator">
        <div class="pageNumber"></div>
        <div class="separator">&nbsp;of&nbsp;</div>
        <div class="totalPages"></div>
    </div>
</div>
